
/* - dropdown-menu.css - */
@media screen {
/* https://dev.landscapepartnership.org/portal_css/dropdown-menu.css?original=1 */
/* */
/* */
#portal-globalnav {
position:relative;
z-index:3;
}
* html #portal-globalnav {
height:1%;
}
#portal-globalnav li {
float:left;
margin:0;
padding:0;
}
#portal-globalnav li a {
display:block;
position:relative;
}
#portal-globalnav ul {
position: absolute;
width: 15em;
left:-999em;
background: #fff;
border-color: White;
border-width: 1px;
border-style: none solid solid solid;
margin:0;
}
#portal-globalnav li.selected ul.submenu {
margin-top:-1px;
z-index:3;
}
#portal-globalnav ul.submenu li {
display:block;
width:100%;
}
#portal-globalnav ul.submenu a,
#portal-globalnav ul.submenu a:hover {
margin:0;
display:block;
border-color: White;
border-style: solid none none;
position:static !important;
white-space:normal;
}
#portal-globalnav li.selected ul.submenu a:hover {
background-color:#fff;
}
a.hasDropDown {
background-image:url('arrowRight.gif');
background-position:14em 50%;
background-repeat:no-repeat;
}
*:first-child+html #portal-globalnav ul.submenu a {height:1%;} /* */
* html #portal-globalnav ul.submenu a {height:1%;} /* */
/* */
#portal-globalnav li ul ul {
z-index:10;
top:0.4em;
left:-999em;
left:0;
margin: 0 0 0 14em;
}
#portal-globalnav ul li:hover,
#portal-globalnav ul li.sfhover {
position:relative;
}
#portal-globalnav li:hover ul ul,
#portal-globalnav li:hover ul ul ul,
#portal-globalnav li:hover ul ul ul ul,
#portal-globalnav li.sfhover ul ul,
#portal-globalnav li.sfhover ul ul ul,
#portal-globalnav li.sfhover ul ul ul ul {
left:-999em;
}
#portal-globalnav li:hover ul,
#portal-globalnav li li:hover ul,
#portal-globalnav li li li:hover ul,
#portal-globalnav li li li li:hover ul,
#portal-globalnav li.sfhover ul,
#portal-globalnav li li.sfhover ul,
#portal-globalnav li li li.sfhover ul,
#portal-globalnav li li li li.sfhover ul {
left:auto;
}
/* */
#post-sections-clear {
height:1px;
margin-bottom:-3px;
}
/* */
*:first-child+html #post-sections-clear {margin-bottom:-2px;}
* html #post-sections-clear {
margin-bottom:-2px;
}
/* */
}

