body {
    background: #fff;
}

* {
  box-sizing: border-box;
}

/* --- Colors --- */
:root {

  --heading: #205c90;
  --brown: #A26623;
  --green: #788a3b;
  --orange: #ef8f39;
  --redorange: #e86129;
  --tan: #dfdf9e;
  --footer: #7d6042;
  --lightbrown: #dacfbb;
  --grey: #f5f5f5;
}

.bg-brown { background: var(--brown); }
.bg-green { background: var(--green); }
.bg-ltbrown { background: var(--lightbrown);}
.bg-tan { background: var(--tan); }
.bg-orange { background: var(--orange); }
.bg-blue { background: var(--heading); }
.bg-footer { background: var(--footer); }
.bg-grey { background: var(--grey); }
.bg-red-orange { background: var(--redorange); }

/* --- end colors --- */

.lp-footer { display: none; }

body.kssActive .inlineEditable:hover, body.kssActive .formlibInlineEditable:hover {
    padding: 0;
    border: 1px solid #fff !important;
    border-color: #fff;
    cursor: text;
    background: White url(blank.png) repeat-x;
}

/* Hide these items */
#jumpmenu,.rss,.rss-feeds,.footer-mid,.footer-rt {
    display: none;
}

.template-fire_home #edit-bar {
    display: none;
}

.template-fire_home #portal-breadcrumbs {
    display: none;
}
.template-fire_home .addthis_toolbox.addthis_default_style {
    right: 2em;
    top: -55px;
    position: absolute;
    z-index: 3;
}

#portaltab-home-link ul.submenu {
    display: none;
}

/* Hide title and byline on pages */
.template-document_view .documentByLine, .template-document_view .documentFirstHeading {
    display: none !important;
} 
.hide-heading { display: none; } /* ---  turn off heading in grid_layout --- */


.template-fire_home #visual-portal-wrapper {
    max-width: 100%;
}

.template-fire_home #content {
    width: 100%;
}

/*
.template-contents_full #content {
    width: 1170px;
    margin: 0 auto;
} */

div.row {
    float: none;
    
}

#portal-column-one {
    position: relative;
    top: 4em;
}

#portal-columns {
    position: relative;
    top: 1.2em;
    width: 1170px;
    margin: 0 auto;
}

.template-fire_home #portal-columns {
    position: relative;
    top: 0;
   width: 100%;
}

@media only screen and (max-width: 768px) {

.template-fire_home #portal-columns { 
   top: -100px;
}

#portal-columns {
    top: 0;
    width: 95%;
    margin: 0 auto;
}
}

#portal-column-two {
    position: relative;
    top: 2em;
}

.fullwidth-section { margin-bottom: 3em; }

/* Portlets */

.portletNavigationTree .portletHeader {
    background: #205C90 none repeat scroll 0 0;
    border-radius: 4px 4px 0 0;
    text-transform: uppercase;
    padding: 15px;
    margin-top: 0;
}


dl.portlet {
    font-size: 90%;
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-bottom: 1.5em;
}

dl.portlet dt, div.portletAssignments div.portletHeader {
    padding: 1em 1em 0.25em;
    background: transparent;
    line-height: normal;
    color: #666;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}

/* Table listing */

#content table.listing {
    width: 100%;
}


.addthis_toolbox.addthis_default_style {
    right: 2em;
    top: 1.4em;
    position: relative;
}

#portal-breadcrumbs {
    font-size: 85%;
    margin: 1.5em auto 2em;
}

/* --- Banner Images --- */


.template-fire_home #portal-banner {
    display: none !important;
}
.template-folder_contents #portal-banner {
    display: none !important;
}

.site-wildland-fire #portal-banner {
    display: block;
    height: 300px;
    top: 22px;
    background-position: center;
    background-size: cover;
    position: relative;
    background-color: #ededed;
}
@media only screen and (max-width: 768px) {
.site-wildland-fire #portal-banner {
    height: 100px;
    top: 0;
}
}

.section-prescribed-burning #portal-banner {  background-image: url(fire-images/fire-banner.jpg); }
.section-wildfire #portal-banner { background-image: url(fire-images/rx-fire-banner.jpg); }
.section-fire-mapping #portal-banner { background-image: url(fire-images/firemapping-gold-banner.jpg); }
.subsection-national-fire-mapping #portal-banner { background-image: url(fire-images/firemapping-gold-banner.jpg); }

.section-training #portal-banner { background-image: url(fire-images/longleaf-FB-group.jpg); }
.section-policies #portal-banner { background-image: url(fire-images/LongleafFire__1537797395957.jpg); }
.section-research #portal-banner { background-image: url(fire-images/SERX-firewalk.jpg); }
.section-partners #portal-banner { background-image: url(fire-images/LLFB-group-woods.jpg); }
.section-news-and-events #portal-banner { background-image: url(fire-images/firemap-banner.jpg); }
.section-workspace #portal-banner {background-image: url(fire-images/longleafFB-butterfly.jpg); }
.section-decision-support-tools #portal-banner {background-image: url(working-lands/longleaf-pine.jpg); }
.section-about #portal-banner {background-image: url(fire-images/sunset-through-the-smoke.jpg);background-position: center bottom; }
.section-wildland-fire-style-guide #portal-banner {background-image: url(landscape-images/style-guide-banner.jpg); }
.section-apps-maps-data #portal-banner { background-image: url(fire-images/mapviewer-bg.jpg); }


.nest-navigation-bar {
 display: block;
 background: #788a3b;
    padding: 10px 30px;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Montserrat';
}
.nest-nav-inner {width: 100%;}
.nest-navigation a { color: #d9da9b!important; }
.nest-navigation a:hover { color: #ffe061!important;}

@media only screen and (max-width: 768px) {
.nest-navigation-bar {
    padding: 5px 0px;
}
.nest-nav-inner {
    padding: 1px 5px;
}
}

#visual-portal-wrapper {
    background-color: #fff;
    margin: 0 auto;
    max-width: 100%;
    min-height: calc(100vh - 190px);
} 

#portal-top {
    height: 164px;
    background-image: none;
}
@media only screen and (max-width: 768px) {
  #portal-top {
    height: 130px;
}
}

#portal-header{
    background: #fff;
    border-color: transparent;
    border-style: none;
   position: relative;
   width: 100%;
   height: 130px;
}



#portal-logo img {
    position: relative;
    top: -35px;
    left: 15%;
} 


#portal-searchbox {
    top: -30px;
    right: 30px;
}

#partnerSiteSelection {
    position: absolute;
    right: 15px;
    top: 145px;
}

#jumpmenu {
    clear: right;
    float: right;
    margin-top: -60px;
    position: relative;
    width: 225px;
}


/* --- main navigation tabs --- */
#globalnav-wrapper {
    background-color: #0E1D1C;
    border-bottom: medium none;
    border-top: 1px solid white;
    top: 135px;
}

#portal-globalnav {
    background-color: #0E1D1C;
}
   
#portal-globalnav li a {
    background-color: #0E1D1C;
    font-size: 16px;
}

#portal-globalnav .selected a {
    background: #DFDF9E;
    color: #222!important;
}

#portal-globalnav a:hover, #portal-globalnav .selected a:hover {
    background: #84984c;
    color: #fff;
}

#portal-personaltools-wrapper {
    right: 30px;
    top: -35px;
    position: absolute;
}
#portal-personaltools a { color: #fff; }
#portal-personaltools a:visited { color: #a9e1f3 !important; }


li#portaltab-home ul.submenu {
    display:none;
}

/* Typography */

#content h1.documentFirstHeading {
    color: #A26623;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.6em;
    font-weight: 500;
    margin-bottom: 0.5em;
    margin-top: 1.5em;
}

#content h1 {
     color: #A26623;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.6em;
    font-weight: 500;
    margin-bottom: 0.5em;
    margin-top: 1.5em;
}

h2, h3, h4, h5, h6 {
    color: #A26623;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 1.5em;
    letter-spacing: -0.0115em;
margin-bottom: 10px;
}

p {
   font-family: 'Merriweather', serif;
    color: #666;
    letter-spacing: 0.01em;
    line-height: 1.6em;
    padding-bottom: 15px;
}

.intro {
   font-family: 'Merriweather', serif;
    font-size: 17px;
    line-height: 1.7em;
    color: #676767;
    margin: 1em 0em;
}


/* Custom footer */


#portal-footer-wrapper {
    margin-top: 5em;
    background: #7d6042;
}


#portal-footer {
    background: #7d6042 none repeat scroll 0 0;
    display: block;
    margin-top: 0;
    height: 350px;
}

.footer-left {
    display: none;
}

#fire-footer {
    display: block;
    position: relative;
    text-align: center;
}

#fire-footer a:link, #fire-footer a:visited {
    color: #dbcfbc!important;
}
#fire-footer a:hover {
    color: #f4a221!important;
}

#fire-footer img {
    margin: 0 15px 10px;
}

#fire-footer h4 {
    margin-top: 20px;
    color: #dacfbb;
    text-transform: uppercase;
    padding: 30px 0 0;
}

#fire-footer .sitecredit {
    background: url(fergusonlynch-icon.png) no-repeat scroll 0 2px transparent;
  background-size: 36px;
  font-size: 13px;
  letter-spacing: 0.05em;
  line-height: 1.1rem;
  padding-left: 52px;
  text-transform: uppercase;
  width: 185px;
  margin: 6px auto;
}

.bottom-nav {
    text-align: left;
    margin: 20px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 20px;
gap: 15px;
}
@media only screen and (max-width: 767px) {
 .bottom-nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    text-align: center;
}
}

.grid {
 /* flex: 1; */
  padding: 0;
}
@media only screen and (max-width: 767px) {

.narrow h2 {
    text-align: center;
    margin: 0;
}
.grid-item {
   margin: 0;
   padding: 0 3rem;
}
}

.LSBox {
    top: 40px;
    position: relative;
    background: #fff;
    padding: 11px;
    border-radius: 6px;
    border: 1px solid #fff;
    right: 0;
}



/* Mobile settings */


@media only screen and (max-width: 600px) {
#portal-logo {
    position: relative;
    top: -30px;
    left: 0;
}

#portal-logo img {
    width: 90%;
    height: auto;
    left: 5%;
}
}

@media only screen and (max-width: 768px) {

.LSBox {
    top: 95px;
    position: absolute;
    background: transparent;
    padding: 11px;
    border-radius: 6px;
    border: none;
    left: 57px;
    width: 150px;
}

#globalnav-wrapper {
    top: -60px;
}
}


#edit-bar {
    position: relative;
    margin: 0 auto;
    background-color: #84B3B3;
    border: 0.25em solid #84B3B3;
}

#contentActionMenus {
    background: #84B3B3;
    }

#contentActionMenus dl.actionMenu a, #contentActionMenus dl.actionMenu.activated dd {
    background-color: #84B3B3;
}

#content-views {
    background-color: #84B3B3;
}

.button {
    color: #54585b;
    font-size: 1.125rem;
    padding: .75rem 1rem;
    margin-bottom: 0.1875rem;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #888;
    border-radius: 0.25rem;
    text-align: center;
    font-weight: 700;
    transition: background .2s linear, color .2s linear, border-color .2s linear;
    font-family: "Open Sans", Arial, sans-serif;
    box-shadow: 2px 3px 5px -1px rgba(0, 0, 0, 0.35);
}

.button:hover {
    border-color: transparent;
    background: #e64c00;
    color: #ffffff;
}

.btn-solid-orange {
    color: #ffffff!important;
    background: #F59E20;
    border-color: transparent;
}

#content a.btn-solid-orange:hover {
    background: #e64c00;
    color: #ffffff!important;
    border-color: transparent;
}

a.btn-solid-orange:visited {
    color: #fff!important;
}
.caption {
    padding: 0 0 10px;
    color: #777;
    font-size: 13px;
}

.captioned img {
    max-width: 100%;
}

.add-fire-resources {
    padding: 20px 10px 15px 80px;
    margin: 2em 0;
    background: #EBEBC2 url(fire-images/add-resource-fire.png) no-repeat;
    background-size: 60px;
    border: 1px solid #ccc;
    background-position: 15px;
    border-radius: 8px;
   transition: all 0.2s ease-in-out;
}

.add-fire-resources:hover {
    padding: 20px 10px 15px 80px;
    margin: 2em 0;
    background: #F2F2B0 url(fire-images/add-resource-fire.png) no-repeat;
    background-size: 63px;
    border: 1px solid #ccc;
    background-position: 15px;
    border-radius: 8px;
}

.add-fire-resources h3 {
    font-size: 18px;
    font-weight: 600!important;
    line-height: 20px;
    margin-top: 6px;
    color: #EA8206;
}

.add-fire-resources p {
    font-size: 13px;
    margin: 0;
    padding: 0;
    font-style: italic;
    line-height: 1.2em;
}

.planning-support-btn {
    padding: 20px 10px 15px 80px;
    margin: 2em 0;
    background: #EBEBC2 url(fire-images/checklist.png) no-repeat;
    background-size: 50px;
    border: 1px solid #ccc;
    background-position: 15px;
    border-radius: 8px;
   transition: all 0.2s ease-in-out;
}

.planning-support-btn:hover {
    padding: 20px 10px 15px 80px;
    margin: 2em 0;
    background: #F2F2B0 url(fire-images/checklist.png) no-repeat;
    background-size: 52px;
    border: 1px solid #ccc;
    background-position: 15px;
    border-radius: 8px;
}

.planning-support-btn h3 {
    font-size: 18px;
    font-weight: 600!important;
    line-height: 20px;
    margin-top: 6px;
    color: #EA8206;
}

.planning-support-btn p {
    font-size: 13px;
    margin: 0;
    padding: 0;
    font-style: italic;
    line-height: 1.2em;
}

a.readmore {
    /*background: #f7931e;
    padding: 4px 10px;
    color: #fff!important;
    border-radius: 5px; */
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: none!important;
   font-family: 'Source Sans Pro', sans-serif;
}

#content a.readmore:hover {
    color: #f7931e !important;
    /* background: tomato; */
}

.section-se-firemap-workspace .tileFooter {
    display: none;
}

.tileItem {
    clear: both;
}

.tileHeadline {
    font-size: 1.5em;
    font-weight: 600;
}

.tileImage img {
    width: 220px;
    height: auto;
}
@media only screen and (max-width: 768px) {
  .news-image img {
    width: 120px;
    height: 150px;
    background: #fff;
    padding: 4px;
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
    object-fit: cover;
    margin-top: 10px;
}
}

/* ---------------------------
 Calendar Sprite for sidebar
------------------------------ */
ul.cal-sprite {
  left: 1em;
  margin: 10px 0 20px;
  padding: 0;
  position: relative;
}
.cal-sprite li {
  display: block;
  line-height: 45px;
  overflow: hidden;
  text-indent: 3.5em;
}
.cal-sprite li a {
  background: url("calendar-sprite.png") no-repeat;
  width: 200px;
  height: 45px;
  display: block;
}
/* Calendar grid */
.cal-sprite li#grid {
  width: 200px;
  height: 45px;
}
.cal-sprite li#grid a {
  background-position: 0px 0px;
}
.cal-sprite li#grid a:hover {
  background-position: -200px 0px;
}
/* Add Event */
.cal-sprite li#add-event {
  width: 200px;
  height: 45px;
}
.cal-sprite li#add-event a {
  background-position: 0px -42px;
}
.cal-sprite li#add-event a:hover {
  background-position: -200px -42px;
}
/* List View */
.cal-sprite li#list-view {
  width: 200px;
  height: 45px;
}
.cal-sprite li#list-view a {
  background-position: 0px -84px;
}
.cal-sprite li#list-view a:hover {
  background-position: -200px -84px;
}
/* Upcoming */
.cal-sprite li#upcoming {
  width: 200px;
  height: 45px;
}
.cal-sprite li#upcoming a {
  background-position: 0px -126px;
}
.cal-sprite li#upcoming a:hover {
  background-position: -200px -126px;
}
/* Past */
.cal-sprite li#past {
  width: 200px;
  height: 45px;
}
.cal-sprite li#past a {
  background-position: 0px -168px;
}
.cal-sprite li#past a:hover {
  background-position: -200px -168px;
}

.slide-overlay {
    position: absolute;
    z-index: 5;
    top: 35%;
    background: rgba(0, 0, 0, 0.6);
    padding: 30px 30px 40px;
    width: 70%;
    left: 15%;
    color: #fff;
    border-radius: 6px;
    text-align: center;
}
@media only screen and (max-width: 768px) {
.slide-overlay {
    top: 25%;
    background: rgba(0, 0, 0, 0.45);
    padding: 30px 30px 40px;
    width: 100%;
    left: 0;
    color: #fff;
    border-radius: 0;
    text-align: center;
}
}

.listingBar {
    padding-bottom: 50px;
}

/* STYLEGUIDE */

/* colors */
.orange { background: #f7931f; }
.brown { background: #a26623; }
.dark-blue { background: #205c90; }
.light-grey { background: #f5f5f5; }
.dark-grey { background: #676767; }

.company-logo img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transform: scale(0.95);
    opacity: 0.35;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    margin: 12px;
    width: 150px;
}
.portlet#portlet-firemap {
    border: none;
    background: #eae493;
}
